.header {
  position: relative;
}

.icon {
  display: inline-block;
  visibility: hidden;
}

.header:hover .icon {
  visibility: visible;
}

.link {
  left: 0;
  padding-right: 4px;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}
