.header {
  position: relative;
  word-wrap: break-word;
}

.link {
  border-bottom: 0px solid var(--title-color);
  transition: 0.1s border-bottom linear;
}

.link:hover {
  border-bottom: 4px solid var(--title-color);
}
