:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

pre,
pre > code {
  text-align: left;
}

pre {
  padding: 1rem 1.5rem;
  overflow: scroll;
  background-color: #575757;
  border-radius: 3px;
}

.Conversion {
  display: grid;
  gap: 1rem;
}

.UserInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.SelectContainer {
  display: inline;
}

.Select {
  padding: 0.25rem;
}

.SelectLabel {
  margin-right: 0.5rem;
}

.MessageContainer {
  display: grid;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  color: rgb(23, 43, 77);
  border-radius: 3px;
}

.MessageContainer.warning {
  background-color: #fff7d6;
}

.MessageContainer.note {
  background-color: rgb(243, 240, 255);
}

.MessageHeader {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 0.5rem;
}

.MessageHeader > span {
  font-weight: 700;
}

.MessageBody {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  pre {
    background-color: #f2f2f2;
  }
}
