.Conversion {
  display: grid;
  gap: 1rem;
  align-self: start;
}

.UserInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CodeExperience {
  display: grid;
  gap: 0.5rem;
}

.ProgressData {
  font-size: 0.75rem;
}

.Insights {
  display: grid;
  gap: 0.5rem;
}

@media screen and (max-width: 30rem) {
  .UserInput {
    grid-template-columns: 1fr;
  }
}
