html {
  /*
    to prohibit font-size inflation on mobile devices
    Link: https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
  */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

* {
  box-sizing: border-box;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}

main {
  padding: 1em;
  margin: 0 auto;
}

main > a {
  margin-right: 1rem;
}

.home {
  font-size: 1.2rem;
  display: inline;
  font-weight: 700;
  margin-right: 1rem;
}

.home a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1rem;
  letter-spacing: -0.025em;
  word-break: break-word;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.75;
  margin: 0px;
  margin-bottom: 2rem;
  padding: 0px;
}

ul {
  padding-inline: 0;
}

/* any element prior to lists don't need bottom margin */
*:has(+ ul),
*:has(+ ol) {
  margin-bottom: 0;
}

/* lists complete visual paragraph, therefore lists have bottom margin */
* ~ ol,
* ~ ul {
  margin-bottom: 2rem;
}

/* all direct children of list items don't need bottom margin */
li > * {
  margin-bottom: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ol li,
ul li {
  line-height: 1.75;
}
