.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-flex;

  margin-left: 0.5rem;
}
