.bio {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.head {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "image" "content";
}

@media screen and (min-width: 50rem) {
  .head {
    grid-template-areas: "content image";
    grid-template-columns: 1fr auto;
  }
}

.headText {
  display: grid;
  grid-area: content;
  gap: 0.25rem;
}

.headText h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1.1;
}

.headText h2 {
  margin: 0;
}

.headText h3 {
  margin: 0;
  font-weight: 700;
  font-size: 1.17em;
}

.avatarContainer {
  display: grid;
  justify-items: start;
}

.avatarContainer img {
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
}

.summary {
  margin: 0;
}
