.icon {
  outline: none;
}

.background {
  fill: var(--buy-me-coffee-background-color);
}

.icon:active .background,
.icon:focus .background,
.icon:hover .background {
  fill: var(--buy-me-coffee-hover-background-color);
}
