.link {
  word-wrap: break-word;
}

.underscore {
  border-bottom: 2px solid var(--a-color);
  transition: 0.1s border-bottom linear;
}

.link:hover .underscore {
  border-bottom: 4px solid var(--a-color);
}

.linkExternal {
  white-space: nowrap;
  margin-left: 2px;
}

.linkExternal > svg > path {
  fill: var(--external-link-color);
}
