/* Clear fix */
small {
  font-size: 80%;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input::placeholder {
  color: rgba(156, 163, 175, 1);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Merriweather, ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  color: rgba(17, 24, 39, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

body.dark {
  color: rgba(229, 231, 235, 1);
  background-color: rgba(0, 0, 0, 1);
}

footer {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

hr {
  height: 1px;
  border-width: 0px;
  background-color: rgba(229, 231, 235, 1);
}

.dark hr {
  background-color: rgba(55, 65, 81, 1);
}

/* Prose */

ul,
ol {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2rem;
  padding: 0px;

  list-style-position: outside;
  list-style-image: none;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

ul li,
ol li {
  padding-left: 0px;
  margin-bottom: 1rem;
}

li > p {
  margin-bottom: 1rem;
}

li *:last-child {
  margin-bottom: 0px;
}

li > ul {
  margin-top: 1rem;
  margin-left: 2rem;
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0px;
  margin-left: -1.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  font-style: italic;
  border-left-width: 4px;
  border-style: solid;
  border-color: #005b99;
  color: rgba(55, 65, 81, 1);
}

.dark blockquote {
  color: rgba(229, 231, 235, 1);
  border-color: #70b5ff;
}

blockquote > :last-child {
  margin-bottom: 0px;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  border-spacing: 0.25rem;
  margin-bottom: 2rem;
  width: 100%;
}

table thead tr th {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(229, 231, 235, 1);
}

.dark table thead tr th {
  border-color: rgba(55, 65, 81, 1);
}

/* Custom extendable styles */

.global-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: 5rem;
}

.post-list-item {
  list-style-type: none;
}

.post-list-item article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-list-item p {
  margin-bottom: 0px;
}

.post-list-item h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0px;
  color: #005b99;
}

.dark .post-list-item h2 {
  color: #70b5ff;
}

.post-list-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.post-list-item header h2,
.post-list-item small {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.post-list-item small {
  white-space: nowrap;
  margin-left: 1rem;
}

@media (max-width: 42rem) {
  .post-list-item header {
    flex-direction: column;
    align-items: inherit;
  }

  .post-list-item small {
    margin: 0;
  }
}

.blog-post header .metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

@media (max-width: 42rem) {
  .blog-post header .metadata {
    flex-direction: column;
    align-items: inherit;
  }
}

.blog-post header p {
  font-family: Montserrat, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.blog-post-nav ul {
  margin: 0px;
}

.blog-post-nav ul li {
  list-style-type: none;
}

.gatsby-highlight {
  margin-bottom: 2rem;
}

.gatsby-video {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form label {
  margin-right: 1rem;
}

.form-message {
  display: flex;
  justify-content: space-between;
}

.form-error-message {
  color: rgba(153, 27, 27, 1);
}

.dark .form-error-message {
  color: #ff704f;
}

.form-field {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 3rem;
  border-width: 2px;
  border-color: rgba(229, 231, 235, 1);
}
.dark .form-field {
  border-width: 0px;
}

.form-submit {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  color: rgba(255, 255, 255, 1);
  background-color: #005b99;
}

.dark .form-submit {
  color: rgba(0, 0, 0, 1);
  background-color: #70b5ff;
}

.form-submitted {
  display: flex;
  align-items: center;
}

.form-loader {
  display: flex;
  align-items: center;
}

.form-error {
  display: flex;
  align-items: center;
}

.form-submitted,
.form-loader,
.form-error {
  height: 72px;
}

.blog-post-sandwich footer h3 {
  margin-top: 0;
}

.blog-post-sandwich footer h5 {
  margin-top: 1em;
}

.block-sandwich-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 42rem) {
  .block-sandwich-gallery-item {
    min-width: 16rem;
    max-width: 100%;
  }
}

@media (min-width: 42rem) {
  .block-sandwich-gallery-item {
    width: 18rem;
  }
}

.anchor.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  visibility: hidden;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
h1 .anchor:focus svg,
h2 .anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg {
  visibility: visible;
}

/* loader */

.loader {
  display: block;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  height: 3rem;
}

.loader div {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;

  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-color: #000 transparent transparent transparent;

  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.dark .loader div {
  border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: 0px;
    padding-left: 1rem;
    margin-left: 0px;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  .form {
    flex-direction: column;
    align-items: inherit;
  }

  .form-submitted,
  .form-loader,
  .form-error {
    height: 224px;
  }

  .form label {
    margin-bottom: 1rem;
    width: 100%;
  }
}

/* Animation */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
