.MatchCard {
  position: relative;
  height: inherit;
  width: 335px;

  padding: 1px;
  background-color: #f4f4f4;

  cursor: pointer;
}

.MatchCardWithShortScore:hover {
  opacity: 0.6;
}

.ExtendedScore {
  display: none;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 900;
}

.MatchCardWithShortScore:hover .ExtendedScore {
  display: block;
  opacity: 1;
}

/*
  Avoid .Home { border-bottom: 1px solid #e8e8e8 } because exactly 1px is needed for margin calculations
  but min-device-pixel-ratio may affect it and make it smaller than 1px on some devices

  Examples:
  1. CSS border on Android - https://stackoverflow.com/questions/13415412/why-does-a-css-border-look-different-on-android
  2. CSS, Retina, and Physical Pixels - https://n12v.com/css-retina-and-physical-pixels/
*/
.Line {
  display: flex;
  height: 2px;
  background-color: #e8e8e8;
}
