.MatchCard {
  position: relative;
  height: inherit;
  width: 305px;

  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;

  cursor: pointer;
}

.MatchCardWithShortScore:hover {
  opacity: 0.6;
}

.ExtendedScore {
  display: none;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 900;
}

.MatchCardWithShortScore:hover .ExtendedScore {
  display: block;
  opacity: 1;
}

.Home {
  border-bottom: 1px solid #e8e8e8;
}
