.RoundsNavigation {
  display: flex;
  flex-direction: row;
}

.Round {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.Round:not(:last-child) {
  margin-right: 10px;
}

.Round svg {
  margin-top: 5px;
}

.Round svg path {
  fill: #d8d8d8;
}

.SelectedRound.grass svg path,
.Round.grass svg:hover path {
  fill: #639080;
}

/* .clay is default */
.SelectedRound svg path,
.Round svg:hover path {
  fill: #993300;
}

.SelectedRound.hard svg path,
.Round.hard svg:hover path {
  fill: #336699;
}
