.RoundsNavigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;

  /* prevents unintentional round names select */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.Round {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 100%;
  /* hide the blue colour when clicking on the round */
  -webkit-tap-highlight-color: transparent;
  /* When round name is too long, it's cut */
  overflow: hidden;
}

.Name {
  width: 100%;
  text-align: center;

  /* When round name is too long, it's cut */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Round:not(:last-child) {
  margin-right: 10px;
}

.Round svg {
  width: 100%;
  height: 128px;
  margin-top: 5px;
}

.Round svg path {
  fill: #d8d8d8;
}

.SelectedRound.grass svg path,
.Round.grass:hover svg path {
  fill: #405e54;
}

.SelectedRound.clay svg path,
.Round.clay:hover svg path {
  fill: #993300;
}

.SelectedRound.hard svg path,
.Round.hard:hover svg path {
  fill: #2d5986;
}

.RoundOf64 svg {
  height: 62px;
  margin-top: 0.28em;
}

.RoundOf128 svg {
  height: 28px;
  margin-top: 0.33em;
}
