.TournamentRound {
  /* 305px + 12px * 2 + 1px * 2 */
  width: 331px;
  margin-right: 40px;
}

@media (max-width: 1110px) {
  .Order2 {
    display: none;
  }
}

@media (max-width: 740px) {
  .Order1 {
    display: none;
  }
}

.CardWrapper {
  margin-bottom: 30px;
}

.Order1 .CardWrapper {
  padding: 80px 0;
}

.Order2 .CardWrapper {
  margin: 240px 0;
}
