.TournamentPage {
  display: flex;
  flex-direction: column;
}

.TournamentPageHeader {
  display: flex;
  align-items: baseline;

  margin-left: 15px;
}

.TournamentName {
  margin-left: 10px;
  font-weight: 900;
}

.TournamentPageFilters {
  /* margin is aligned with .TournamentPageHeader margin-left */
  margin: 15px;
}

.RoundsDesktop {
  /* margin: 15px is already added in RoundsNavigation so add nothing here */
}

.Grid {
  display: flex;
  margin: 15px;
}

@media (max-width: 740px) {
  .RoundsDesktop {
    display: none;
  }
}

@media (min-width: 740px) {
  .RoundsMobile {
    display: none;
  }
}

/* MatchCard min-width (305px) + 2 padding (12px) + 2 border (1px) + 2 margin (40px) */
@media (min-width: 411px) {
  .Grid {
    justify-content: center;
  }
}
