.TournamentRound {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* MatchCard min-width (305px) + 2 padding (12px) + 2 border (1px) */
  width: 331px;
  margin-right: 40px;
}

@media (min-width: 1110px) {
  .Index2 {
    margin-right: 0px;
  }
}

@media (max-width: 1110px) {
  /*
   * It can be Index0 or Index1, so using :last-child instead
   *
   * 2 1 0 => 1 0
   * 1 0 2 => 1 0
   * 0 1 2 => 0 1
   */
  .Order0 ~ .Order1,
  .Order1 ~ .Order0 {
    margin-right: 0px;
  }

  .Order2 {
    display: none;
  }
}

@media (max-width: 740px) {
  /* it overrides (max-width: 1110px) values */
  .Order0 ~ .Order1,
  .Order1 ~ .Order0 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .Order0 {
    /* Adds 40px to left and right so for smaller screen cards don't stick to the left edge */
    margin-left: 40px;
    margin-right: 40px;
  }

  .Order1 {
    display: none;
  }
}

.CardWrapper {
  margin-bottom: 30px;
}

.Index1 .CardWrapper {
  /* (2 MatchCard height (120px) + margin-bottom (30px) - MatchCard height (120px)) / 2 */
  padding: 75px 0;
}

.Index2 .CardWrapper {
  /* (4 MatchCard height (120px) + 3 margin-bottom (30px) - MatchCard height (120px)) / 2 */
  margin-top: 225px;
  /* margin-top + base margin-bottom (30px) */
  margin-bottom: 255px;
}
