.TournamentPage {
  display: flex;
  flex-direction: column;
}

.Grid {
  display: flex;
  margin: 15px;
}

/* MatchCard min-width (305px) + 2 padding (12px) + 2 border (1px) + 2 margin (40px) */
@media (min-width: 411px) {
  .Grid {
    justify-content: center;
  }
}

.CardParent {
  max-width: 500px;
  margin: 0 auto;
}
