.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 220px;
}

.input,
.save {
  width: 100%;

  font-size: 1rem;
  font-weight: 900;

  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
}

.error {
  font-size: 0.75rem;
  font-weight: 900;
  color: #e97872;
  margin-bottom: 0.5rem;

  opacity: 0%;
}

.error.visible {
  opacity: 100%;
}

.input {
  box-sizing: border-box;
  border: none;
  margin-bottom: 1rem;
}

.cardProperties {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 75px;

  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.icon {
  width: 1rem;
  margin: 0 1rem;
}

.popups {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.save {
  border: none;
  color: white;
}
