.article {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.article:not(:last-child) {
  border-bottom: 1px var(--border-color) solid;
}

.article > time {
  margin-left: auto;
  white-space: nowrap;
}

.publisher {
  color: #888;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0; /* Reset default margin for paragraph */
}
