.toggle {
  display: inline-block;
  right: 0px;
  width: 2rem;
  height: 2rem;

  border-radius: 9999px;
  cursor: pointer;
  color: var(--dark-mode-toggle-color);

  /* hide until dark mode is initialised */
  visibility: hidden;
}

.toggle:hover {
  outline: none;
  transform: scale(1.25);
}

.sun,
.moon {
  visibility: visible;

  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.sun {
  --dark-yellow: #f6d602;
  --light-yellow: #f5eb71;

  transform: scale(1.2);
  background-color: var(--dark-yellow);
  border: 5px solid var(--light-yellow);
}

.moon {
  box-shadow: 0 0 35px 5px white, 0 0 25px 10px white inset;
}
