.nowPlaying {
  display: flex;
  align-items: center;
}

.albumImage {
  margin-left: 11px;
}

.albumImage,
.spotifyIcon {
  display: inline-flex;

  margin-right: 0.5rem;
}

.equaliser {
  margin-right: 0.5rem;
}
