.row,
.row td {
  margin: 0;
  border: 0;
}

.row td.date,
.row td.title {
  vertical-align: baseline;
}

.date,
.labels {
  white-space: nowrap;
  padding-right: 0.5rem;
}

.labels {
  display: inline-block;
}
