.loader {
  display: block;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  height: 3rem;
}

.loader div {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;

  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-color: #000 transparent transparent transparent;

  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.dark .loader div {
  border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
