.container {
  margin: 0px auto;
  max-width: 42rem;
  padding: 1rem 1.25rem;
}

.headerMetadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

@media (max-width: 42rem) {
  .headerMetadata {
    flex-direction: column;
    align-items: inherit;
  }
}

.articleFooter {
  margin-top: 2rem;
}
