.headerMetadata {
  display: flex;
  align-items: inherit;
  gap: 1.5rem;
  flex-direction: row;
  margin: 0.5rem 0 1rem;
}

/* mobile */
@media (max-width: 42rem) {
  .headerMetadata {
    flex-direction: column;
    gap: 0;
  }
}

.articleFooter {
  margin-top: 2rem;
}
