.container {
  margin: 0 auto;
  max-width: 42rem;
  padding: 1rem 1.25rem;
}

.bio,
.aside {
  margin: 0 auto;
}

.bio {
  padding: 2.5rem 1.25rem;
}

.table {
  border: 0;
  padding: 0;
  margin: 0;
}

.goToSearch {
  font-size: 1.25rem;
  margin-top: 0.75rem;
}
