.container {
  padding: 1rem 1.25rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio,
.aside {
  max-width: 42rem;
  margin: 0 auto;
}

.bio {
  padding: 2.5rem 1.25rem;
}

.search {
  position: relative;

  margin: 1rem;
}

.search,
.searchBar {
  width: 40rem;
}

.searchBar {
  padding: 1rem 2.5rem 1rem 2rem;
}

.searchBar {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

  background-color: var(--background-color);
  color: var(--color);
}

.searchElements {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  text-align: center;

  color: var(--);
}

@media (max-width: 42rem) {
  .search,
  .searchBar {
    width: 100%;
  }
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
