.header {
  display: flex;
  align-items: center;
  height: 3rem;
  position: relative;
  padding: 3rem 0;
}

.homeHeader,
.searchHeader,
.notFoundHeader {
  /* empty */
}

.toHome {
  display: inline-block;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.025em;
  text-decoration: none;
  margin: 0;

  color: var(--a-color);
}
