.header {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "home nav darkmode";
  height: 32px;
}

.home a {
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
