.label {
  color: var(--label-color);
  background-color: var(--label-background-color);
  text-decoration: none;
  display: inline-block;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.selected {
  color: var(--label-selected-color);
  background-color: var(--label-selected-background-color);
}
