.label {
  color: var(--label-color);
  background-color: var(--label-background-color);
  text-decoration: none;
  display: inline-block;

  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.75rem;

  border-radius: 0.25rem;
}

.selected {
  color: var(--label-selected-color);
  background-color: var(--label-selected-background-color);
}
