.progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 2px;

  background: linear-gradient(
    90deg,
    var(--article-main-progress-color) var(--scroll),
    transparent 0
  );
}
