.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 6px 6px 0;
}

.spinnerCircle {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #777;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
