:root {
  --font-color: rgba(31, 41, 55, 1);
  --dark-mode-toggle-color: rgba(255, 255, 255, 1);
  --dark-mode-toggle-background-color: rgba(17, 24, 39, 1);
  --label-color: rgba(75, 85, 99, 1);
  --label-background-color: rgba(229, 231, 235, 1);
  --subscription-form-error-message-color: rgba(153, 27, 27, 1);
  --subscription-form-field-border-width: 2px;
  --subscription-form-submit-button-color: rgba(255, 255, 255, 1);
  --subscription-form-submit-button-background-color: rgba(0, 91, 153, 1);
  --loader-border-color: rgba(0, 0, 0, 1);
  --pre-border-color: rgba(75, 85, 99, 1);
  --copy-to-clipboard-color: rgba(0, 0, 0, 1);
  --copy-to-clipboard-success-color: rgba(39, 174, 96, 1);

  --vscode-background-color: rgba(30, 30, 30, 1);
}

.dark {
  --font-color: rgba(209, 213, 219, 1);
  --dark-mode-toggle-color: rgba(0, 0, 0, 1);
  --dark-mode-toggle-background-color: rgba(252, 211, 77, 1);
  --label-color: rgba(107, 114, 128, 1);
  --label-background-color: rgba(17, 24, 39, 1);
  --subscription-form-error-message-color: rgba(255, 112, 79, 1);
  --subscription-form-field-border-width: 0px;
  --subscription-form-submit-button-color: rgba(0, 0, 0, 1);
  --subscription-form-submit-button-background-color: rgba(112, 181, 255, 1);
  --loader-border-color: rgba(255, 255, 255, 1);
  --pre-border-color: rgba(0, 0, 0, 1);
  --copy-to-clipboard-color: rgba(255, 255, 255, 1);
  --copy-to-clipboard-success-color: rgba(39, 174, 96, 1);

  --vscode-background-color: rgba(30, 30, 30, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Merriweather, ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  color: rgba(17, 24, 39, 1);
  background-color: rgba(255, 255, 255, 1);
}

body.dark {
  color: rgba(229, 231, 235, 1);
  background-color: rgba(0, 0, 0, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1rem;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--font-color);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
}

.dark h1 {
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: #005b99;
  text-decoration: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

.dark a {
  color: #70b5ff;
}

* {
  box-sizing: border-box;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}

p {
  line-height: 1.625;
  margin: 0px;
  margin-bottom: 2rem;
  padding: 0px;
}

figure {
  margin: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
