html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.625;
  margin: 0px;
  margin-bottom: 2rem;
  padding: 0px;
}
