:root {
  --color: rgba(17, 24, 39, 1);
  --background-color: rgba(255, 255, 255, 1);
  --font-color: rgba(31, 41, 55, 1);

  --dark-mode-toggle-color: rgba(255, 255, 255, 1);
  --dark-mode-toggle-background-color: rgba(17, 24, 39, 1);

  --label-color: rgba(75, 85, 99, 1);
  --label-background-color: rgba(229, 231, 235, 1);
  --label-selected-color: rgba(118, 133, 155, 1);
  --label-selected-background-color: rgba(6, 8, 14, 1);

  --subscription-form-error-message-color: rgba(153, 27, 27, 1);
  --subscription-form-field-border-width: 1px;
  --subscription-form-submit-button-color: rgba(255, 255, 255, 1);
  --subscription-form-submit-button-background-color: rgba(0, 91, 153, 1);
  --subscription-form-submit-button-hover-background-color: rgb(1, 73, 121, 1);

  --loader-border-color: rgba(0, 0, 0, 1);
  --pre-border-color: rgba(75, 85, 99, 1);

  --copy-to-clipboard-color: rgba(0, 0, 0, 1);
  --copy-to-clipboard-success-color: rgba(39, 174, 96, 1);

  --vscode-background-color: rgb(240, 240, 240, 1);
  --code-color: rgba(133, 0, 14, 1);
  --border-color: rgba(234, 234, 234, 1);
  --focus-color: rgba(0, 112, 243, 1);

  --buy-me-coffee-background-color: rgba(254, 215, 12, 1);
  --buy-me-coffee-hover-background-color: rgb(190, 161, 12, 1);

  --typescript-icon-background-color: rgba(0, 91, 153, 1);

  --video-player-icon-background-color: rgba(153, 27, 27, 1);

  --blockquote-border-color: rgba(0, 91, 153, 1);
  --blockquote-color: rgba(55, 65, 81, 1);

  --table-border-color: rgba(229, 231, 235, 1);

  --article-main-progress-color: rgba(0, 91, 153, 1);

  --snowflake-color: rgba(160, 227, 246, 1);

  /* colours */

  --a-color: rgba(0, 91, 153, 1);
}

.dark {
  --color: rgba(229, 231, 235, 1);
  --background-color: rgba(0, 0, 0, 1);
  --font-color: rgba(209, 213, 219, 1);

  --dark-mode-toggle-color: rgba(0, 0, 0, 1);
  --dark-mode-toggle-background-color: rgba(252, 211, 77, 1);

  --label-color: rgba(107, 114, 128, 1);
  --label-background-color: rgba(17, 24, 39, 1);
  --label-selected-color: rgba(160, 170, 190, 1);
  --label-selected-background-color: rgba(67, 95, 146, 1);

  --subscription-form-error-message-color: rgba(255, 112, 79, 1);
  --subscription-form-field-border-width: 0px;
  --subscription-form-submit-button-color: rgba(0, 0, 0, 1);
  --subscription-form-submit-button-background-color: rgba(112, 181, 255, 1);
  --subscription-form-submit-button-hover-background-color: rgba(
    70,
    128,
    190,
    1
  );

  --loader-border-color: rgba(255, 255, 255, 1);
  --pre-border-color: rgba(0, 0, 0, 1);

  --copy-to-clipboard-color: rgba(255, 255, 255, 1);
  /* same --copy-to-clipboard-success-color */

  --vscode-background-color: rgba(30, 30, 30, 1);
  --code-color: rgba(199, 118, 93, 1);
  /* same --border-color */
  /* same --focus-color */

  /* same --buy-me-coffee-background-color */
  /* same --buy-me-coffee-hover-background-color */

  --video-player-icon-background-color: rgba(255, 112, 79, 1);

  --blockquote-border-color: rgba(112, 181, 255, 1);
  --blockquote-color: rgba(229, 231, 235, 1);

  --table-border-color: rgba(55, 65, 81, 1);

  /* same --article-main-progress-color */

  /* same --snowflake-color */
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  color: var(--color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1rem;
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--font-color);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
}

.dark h1 {
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: var(--a-color);
  text-decoration: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

.dark a {
  color: #70b5ff;
}

* {
  box-sizing: border-box;
}

*,
:after,
:before {
  border: 0 solid #e5e7eb;
}

p {
  line-height: 1.625;
  margin: 0px;
  margin-bottom: 2rem;
  padding: 0px;
}

figure {
  margin: 0;
}

code {
  background-color: var(--vscode-background-color);
  color: var(--code-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0px;
  margin-left: -1.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  font-style: italic;
  border-left-width: 4px;
  border-style: solid;
  border-color: var(--blockquote-border-color);
  color: var(--blockquote-color);
}

blockquote > :last-child {
  margin-bottom: 0px;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  border-spacing: 0.25rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  width: 100%;
  display: inline-block;
  overflow-x: auto;
}

table thead tr th {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--table-border-color);
}

table thead tr th,
table tbody tr td {
  padding: 0.25rem;
}

@media (max-width: 42rem) {
  blockquote {
    padding: 0px;
    padding-left: 1rem;
    margin-left: 0px;
  }
}

.language-css,
.language-javascript,
.language-typescript {
  --token-line: rgb(4, 0, 114, 1);
  --token-number: rgba(0, 132, 79, 1);
  --token-punctuation: rgba(0, 0, 0, 1);
  --token-comment: rgba(0, 116, 0, 1);
}

.language-css {
  --token-unit: rgba(0, 132, 79, 1);
  --token-property: rgba(255, 0, 0, 1);
  --token-selector-class: rgba(120, 0, 0, 1);
  --token-selector-pseudo-element: rgba(120, 0, 0, 1);
}

.language-javascript {
  --token-function-access: rgba(107, 76, 20, 1);
  --token-keyword: rgb(0, 0, 255, 1);
  --token-arrow-operator: rgba(0, 0, 255, 1);
  --token-operator: rgba(0, 0, 0, 1);
}

.language-typescript {
  --token-function-access: rgba(107, 76, 20, 1);
  --token-keyword: rgb(0, 0, 255, 1);
  --token-arrow-operator: rgba(0, 0, 255, 1);
  --token-operator: rgba(0, 0, 0, 1);

  --token-maybe-class-name: rgba(39, 127, 153, 1);
  --token-builtin: rgba(39, 127, 153, 1);
  --token-class-name-constant: rgba(39, 127, 153, 1);
  --token-string: rgba(175, 50, 51, 1);
  --token-plain: rgba(19, 34, 137, 1);
  --token-constant: rgba(39, 127, 153, 1);
}

.dark .language-css,
.dark .language-javascript,
.dark .language-typescript {
  --token-line: rgba(156, 220, 254, 1);
  --token-number: rgba(181, 206, 168, 1);
  --token-punctuation: rgba(212, 212, 212, 1);
  --token-comment: rgba(106, 153, 85, 1);
}

.dark .language-css {
  --token-unit: rgba(181, 206, 168, 1);
  --token-property: rgba(156, 220, 254, 1);
  --token-selector-class: rgba(215, 186, 125, 1);
  --token-selector-pseudo-element: rgba(215, 186, 125, 1);
}

.dark .language-javascript {
  --token-function-access: rgba(220, 220, 170, 1);
  --token-keyword: rgba(86, 156, 214, 1);
  --token-arrow-operator: rgba(86, 156, 214, 1);
  --token-operator: rgba(212, 212, 212, 1);
}

.dark .language-typescript {
  --token-function-access: rgba(220, 220, 170, 1);
  --token-keyword: rgba(86, 156, 214, 1);
  --token-arrow-operator: rgba(86, 156, 214, 1);
  --token-operator: rgba(212, 212, 212, 1);

  --token-maybe-class-name: rgba(61, 201, 176, 1);
  --token-builtin: rgba(86, 156, 214, 1);
  --token-class-name-constant: rgba(61, 201, 176, 1);
  --token-string: rgba(206, 145, 120, 1);
  --token-plain: rgba(212, 212, 212, 1);
  --token-constant: rgba(61, 201, 176, 1);
}

.token-line {
  color: var(--token-line);
}

.token.keyword {
  color: var(--token-keyword);
}

.token.comment {
  color: var(--token-comment);
}

.token.plain {
  color: var(--token-plain);
}

.token.property {
  color: var(--token-property);
}

.token.operator.arrow {
  color: var(--token-arrow-operator);
}

.token.operator {
  color: var(--token-operator);
}

.token.punctuation {
  color: var(--token-punctuation);
}

.token.constant {
  color: var(--token-constant);
}

.token.number {
  color: var(--token-number);
}

.token.string {
  color: var(--token-string);
}

.token.unit {
  color: var(--token-unit);
}

.token.selector.class {
  color: var(--token-selector-class);
}

.token.selector.pseudo-element {
  color: var(--token-selector-pseudo-element);
}

.token.method-variable.function-variable.method.function.property-access {
  color: var(--token-function-access);
}

.token.class-name.constant {
  color: var(--token-class-name-constant);
}

.token.maybe-class-name {
  color: var(--token-maybe-class-name);
}

.token.builtin {
  color: var(--token-builtin);
}
